%section#calendar
  #calendar-header
    %h2#calendar-header-title
      Calendario
  #calendar-content
    - data.calendar.each do |calendar|
      .calendar-content-date
        %h3= calendar.day
      %ul.calendar-content-list
        - calendar.events.each do |event|
          %li.calendar-content
            .calendar-content-indicator
              %span.icon
            .calendar-content-event-type
              = event.type
            .calendar-content-info
              .calendar-content-info-date
                = event.time_start
                \-
                = event.time_end
              .calendar-content-info-title
                = event.description
              - if event.streaming
                .calendar-content-info-streaming
                  %a(href="http://www.twitch.tv/inx_tv")
                    Ver streaming
